<html>
    <body >
        
<br>
<br>
<br><marquee direction="top" scrollamount=10>
    
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Best Bank</div>
    <div class="card-body">
      <h4 class="card-title">Global Finance</h4>
      <p class="card-text"> Best Bank in the World 2020</p>
    </div>
  </div>
</marquee>
<marquee direction="right" scrollamount=10>
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
        <div class="card-header">Digital</div>
        <div class="card-body">
          <h4 class="card-title">Celent</h4>
          <p class="card-text">Model Bank Awards - 2021</p>
        </div>
      </div>
</marquee>
</body>
</html>
